
.list {list-style: none; margin: 10px 0;}
.item {display: flex; align-items: center; background: #FFF; margin: 5px; border-radius: 5px; user-select: none;}
.item--done {background: darken($back-color, 7);}
.item__name {flex: 1; padding: 10px;}

.item__name {display: flex;}
.item__name span {flex: 1;}

.list--favs {display: flex; flex-flow: wrap; align-items: center;}
.item--selected {background: #ACD08F; box-shadow: inset 1px 1px 5px rgba(0,0,0,0.2);}
.item--fav {flex: auto; text-align: center; display: inline-block; padding: 10px; cursor: pointer;}
