
.list {list-style: none; margin: 10px 0;}
.item {display: flex; align-items: center; background: #FFF; margin: 5px; border-radius: 5px; user-select: none;}
.item--done {background: darken($back-color, 7);}
.item__name {flex: 1; padding: 10px;}

.item__name {display: flex;}
.item__name span {flex: 1;}
